<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Toy</title>
</head>
<body>
    <div class="container">
        <span class="border border-primary">
            <form class="bg-light text-center" style="margin: auto; width: 450px;" action="/add" method="post">
            <div>
                <h1 class="text text-primary">Add new toy</h1>
            </div>
            <div class="form-group mt-3">
                <label class="text text-success">Name</label>
                <input class="form-control" type="text" name="name" required>
            </div>
            <div class="form-group mt-3">
                <label class="text text-success">Brand</label>
                <input class="form-control" type="text" name="brand" required>
            </div>
                <div class="form-group mt-3">
                <label class="text text-success">Source</label>
                <input class="form-control" type="text" name="source" required>
            </div>
            <div class="form-group mt-3">
                <label class="text text-success">Price</label>
                <input class="form-control" type="text" name="price" required>
            </div>
            <div class="form-group mt-3">
                <label class="text text-success">Quantity</label>
                <input class="form-control" type="text" name="quantity" required>
            </div>
            <div class="form-group mt-3">
                <label class="text text-success">Image</label>
                <input class="form-control" type="text" name="image" required>
            </div>
            <div class="form-group mt-3">
                <label class="text text-success">Video</label>
                <input class="form-control" type="text" name="video" required>
            </div>
            <div class="form-group mt-3">
                <label class="text text-success">Category</label>
                <input class="form-control" type="text" name="category" required>
            </div>
            <div class="form-group mt-3">
                <input class="btn btn-success" style="width: 150px;" type="submit" value="Add">
            </div>
            </form>
        </span>
    </div> 
</body>
</html>